.barlist {
  margin-top: 15px;
}

.bar-listing {
  img {
    border-radius: 4px;
  }

  &:hover {
    border-top   : 1px solid white;
    border-left  : 1px solid #333;
    border-right : 1px solid #333;
    border-bottom: 1px solid #333;
    box-shadow   : 0 0 10px 5spx rgba(0,0,0,0.2);
    border-radius: 5px;
    padding      : 4px;
  }
  margin-bottom: 5px;
  padding      : 5px;
}

.carousel-control{
  border-radius: 4px;
  &.right {
    background: none;
    margin-right: 55px;
  }
  &.left {
    background: none;
  }
}
